  <div class = "table_width">
   <table class="table table-bordered">
    <thead>
     <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
     </tr>
    </thead>
    <tbody>
     <tr>
     　<td><%= user.books.where('created_at > ?', Date.today).count %></td>
     　<td><%= user.books.where('created_at > ?', Date.yesterday).count %></td>
     　<td>
       <% if user.books.where('created_at > ?', Date.yesterday).count == 0 %>
        前日の投稿はありません
       <% else %>
       　<% @the_day_before = user.books.where('created_at > ?', Date.today).count / user.books.where('created_at > ?', Date.yesterday).count  %>
       　<%= (@the_day_before * 100).round %>%
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
   
    <table class="table table-bordered">
    <thead>
     <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
     </tr>
    </thead>
    <tbody>
     <tr>
     　<td><%= user.books.where('created_at > ?', Date.today.ago(1.week)).count %></td>
     　<td><%= user.books.where('created_at > ?', Date.today.ago(1.week).since(2.week)).count %></td>
     　<td>
       <% if user.books.where('created_at > ?', Date.today.ago(1.week).since(2.week)).count == 0 %>
        前週の投稿はありません
       <% else %>
       　<% @the_week_before = user.books.where('created_at > ?', Date.today.ago(1.week)).count / user.books.where('created_at > ?', Date.today.ago(1.week).since(2.week)).count %>
       　<%= (@the_week_before * 100).round %>%
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
  
  